@model project_6_eCommerce.Models.User
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<style>
    .mb-5 {
        color: red;
    }
</style>
<section class="vh-100 bg-image" style="background-image: url('@Url.Content("~/images/StockCake-Family Airport Journey_1723985971.jpg")'); background-size: cover; background-position: center;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="text-center mb-5">Login</h3>

                        @using (Html.BeginForm("Login", "login_registration", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div data-mdb-input-init class="form-outline mb-4">
                                @Html.TextBox("Email", null, new { @class = "form-control form-control-lg", @id = "typeEmailX-2", placeholder = "Email" })
                                @*@Html.Label("Email", htmlAttributes: new { @class = "form-label", @for = "typeEmailX-2" })*@
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                @Html.Password("Password", null, new { @class = "form-control form-control-lg", @id = "typePasswordX-2", placeholder = "Password" })
                                @*@Html.Label("Password", htmlAttributes: new { @class = "form-label", @for = "typePasswordX-2" })*@
                            </div>



                            <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>
                        }

                        <hr class="my-4">



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/custom.js"></script>

